<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CovidVacchinationPage</title>
</head>
<body>
  <center>
   <form action="apply" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="user-name">Name</label>
        <input type="text" class="form-control" name="user_name"><br>
      </div>

    <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="email" class="form-control" name="email"><br>
    </div>
    <div class="mb-3">
        <label for="selectcity" class="form-label">City</label>
        <select name="City"> 
            <option disabled="true" selected>--SelectCityName--</option>
            {% for results in city %}
            <option>{{results.city_name}}</option>
            {% endfor %}     
        </select><br>
      </div>
      <div class="mb-3">
        <label for="Date" class="form-label">Date</label>
        <input type="Date" class="form-control" name="Date"><br>
      </div>
      <button type="submit" class="btn btn-primary">Apply</button> 
    </form>
    <div>
        {% for message in messages %}
        <h4>{{ message }}</h4>
        {% endfor %}
    </div>
  </center>

     
</body>
</html>